
.box-h{
  /* height: 500px;  */
  
  }
  .text-area{
    /* margin: auto; */
    margin-left: 80px;
    height: 400px;
    width: 650px;
    margin-top: 40px;
  }

 .top-button{
  justify-content: space-between;
  margin-left: 80px;
 }
 .font-box{
  width : 60%;
 }
 .main-box{
  margin-top: 45px;
 }
 .size-box{
  width: 60%;
  margin-top: 5%;
  justify-content: space-between;
 }
 .a-box{
  width: 60%;
  margin-top: 27%;
 }